---
import { Image } from "astro:assets";
import AlbaniahLogo from "../assets/albaniah logo.png";
import MainLayout from "../layouts/main-layout.astro";
import LinkTreeBtn from "../components/linktree-btn.tsx";
import type { BrandName } from "../components/brands/brand-name-type";
// import ShopeeIcon from "../components/brands/shopee-icon.astro";
// import WebshopIcon from "../components/brands/webshop-icon.astro";
// import LazadaIcon from "../components/brands/lazada-icon.astro";
// import WhatsappIcon from "../components/brands/whatsapp-icon.astro";
// import TokopediaIcon from "../components/brands/tokopedia-icon.astro";

type Link = {
  url: string;
  label: string;
  sublabel?: string;
  brandName: BrandName;
};

type Linktree = Link[];

const linksData: Linktree = [
  {
    url: "https://albaniah.shop/",
    label: "Webshop",
    sublabel: "Gratis Ongkir*, Diskon Gede",
    brandName: "webshop",
  },
  {
    url: "https://wa.me/6285846513022",
    label: "Whatsapp",
    sublabel: "Orderanya Mudah - Gratis Ongkir*, Diskon Gede",
    brandName: "whatsapp",
  },
  {
    url: "https://shopee.co.id/al_baniah.mukena28",
    label: "Shopee",
    brandName: "shopee",
  },
  {
    url: "https://www.lazada.co.id/shop/al-baniah-mukena",
    label: "Lazada",
    brandName: "lazada",
  },
  {
    url: "https://www.tokopedia.com/albaniahmukena",
    label: "Tokopedia",
    brandName: "tokopedia",
  },
];
---

<MainLayout>
  <div class="container my-10 mx-auto px-4 md:max-w-xl space-y-8">
    <div class="flex flex-col justify-center items-center uppercase space-y-4">
      <Image src={AlbaniahLogo} alt="Albaniah Logo" class="w-16 md:w-20" />
      <div class="text-center">
        <h1 class="text-xl tracking-widest font-bold">Albaniah Mukena</h1>
        <p class="font-xs tracking-wider text-gray-500">Temani Ibadahmu</p>
      </div>
    </div>
    <div class="flex flex-col uppercase tracking-wide gap-y-5">
      {
        linksData.map((item) => (
          <LinkTreeBtn
            url={item.url}
            label={item.label}
            sublabel={item.sublabel}
            brandName={item.brandName}
          />
        ))
      }
    </div>
  </div>
</MainLayout>
